.navbar-default {
  background: white !important;
  border: 0;
}

.navbar-default > .container {
  margin: 0 !important;
  width: 100%;
}

.navbar-default > .container > div > div > img {
  height: 82px;
  min-height: 82px;
  min-width: 82px;
  max-height: 82px;
  max-width: 82px;
  width: 82px;
  cursor: pointer;
}

.navbar-default > .container > div {
  display: flex;
  justify-content: space-between;
  padding: 1% 6%;
}
.btn-default {
  margin-top: 20px;
  border: 2px solid #8c43ff !important;
  color: #8c43ff !important;
  height: 42px;
}

.btn-default:hover {
  background: #8c43ff !important;
  color: white !important;
  transition: 0.5s;
}

.typedDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typedDiv > span > span {
  font-size: 40px;
  font-weight: bold;
}
@media only screen and (max-width: 992px) {
  .typedDiv > span > span {
    font-size: 30px;
    font-weight: bold;
  }
  .paraStyle {
    font-size: 16px;
    letter-spacing: 2px;
    margin: 15px !important;
  }
}
@media only screen and (max-width: 775px) {
  .typedDiv > span > span {
    font-size: 20px;
    font-weight: bold;
  }
  .paraStyle {
    font-size: 13px !important;
    letter-spacing: 0 !important;
    margin: 15px !important;
  }
}
@media only screen and (max-width: 640px) {
  .typedDiv > span > span {
    font-size: 20px;
    font-weight: bold;
  }
  .paraStyle {
    font-size: 10px !important;
    letter-spacing: 0 !important;
    margin: 15px !important;
  }
}
@media only screen and (max-width: 480px) {
  .typedDiv > span > span {
    font-size: 20px;
    font-weight: bold;
  }
  .paraStyle {
    font-size: 10px !important;
    letter-spacing: 0 !important;
    margin: 15px !important;
  }
}
@media only screen and (max-width: 420px) {
  .typedDiv > span > span {
    font-size: 15px;
    font-weight: bold;
  }
  .paraStyle {
    font-size: 8px !important;
    letter-spacing: 0 !important;
    margin: 15px !important;
  }
}

.paraStyle {
  font-size: 16px;
  letter-spacing: 2px;
  margin: 15px !important;
}

.imageDiv {
  display: flex;
  justify-content: center;
  height: 500px;
}
@media only screen and (max-width: 775px) {
  .imageDiv {
    display: flex;
    justify-content: center;
    height: 740px;
  }
}
@media only screen and (max-width: 640px) {
  .imageDiv {
    display: flex;
    justify-content: center;
    height: 690px;
  }
}
@media only screen and (max-width: 480px) {
  .imageDiv {
    display: flex;
    justify-content: center;
    height: 620px;
  }
}
@media only screen and (max-width: 420px) {
  .imageDiv {
    display: flex;
    justify-content: center;
    height: 600px;
  }
}
@media only screen and (max-width: 335px) {
  .imageDiv {
    display: flex;
    justify-content: center;
    height: 570px;
  }
}

.imageDiv > img {
  margin-top: 30px;
  position: absolute;
  height: 330px;
  width: 330px;
}

.imageDiv > img:nth-child(2) {
  margin-top: 30px;
  height: 251px;
  width: 170px;
}

.imageDiv > img:nth-child(3) {
  margin-top: 430px;
  height: auto;
  width: 100%;
  max-width: 860px;
}

.aboutDiv {
  background: #8c43ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 7%;
}

.aboutDiv > h3 {
  padding-bottom: 3%;
}

.aboutDiv > p:nth-child(5) {
  padding-bottom: 12%;
}

@media only screen and (max-width: 535px) {
  .aboutDiv > h3 {
    font-size: 20px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 480px) {
  .aboutDiv > h3 {
    font-size: 18px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 435px) {
  .aboutDiv > h3 {
    font-size: 16px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 390px) {
  .aboutDiv > h3 {
    font-size: 14px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 340px) {
  .aboutDiv > h3 {
    font-size: 12px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 1400px) {
  .aboutDiv > h3 {
    font-size: 40px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1400px) {
  .aboutDiv > p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 705px) {
  .aboutDiv > p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .aboutDiv > p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .aboutDiv > p {
    font-size: 9px;
  }
}

@media only screen and (max-width: 460px) {
  .aboutDiv > p {
    font-size: 8px;
  }
}

@media only screen and (max-width: 410px) {
  .aboutDiv > p {
    font-size: 6px;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e6ecf8;
  -webkit-box-shadow: 0 10px 6px -6px #d3d3d3;
  -moz-box-shadow: 0 10px 6px -6px #d3d3d3;
  box-shadow: 0 10px 6px -6px #d3d3d3;
  background: white;
  padding: 50px;
  border-radius: 15px;
  margin-bottom: 2%;
  height: 650px;
}
@media only screen and (min-width: 520px) and (max-width: 768px) {
  .cardContent {
    height: 800px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .cardContent {
    height: 800px;
  }
}

.rowMargin {
  margin-top: -15%;
}

.cardContent > p:nth-child(2) {
  font-size: 120%;
  font-weight: bold;
  padding-top: 15%;
}
@media only screen and (min-width: 900px) and (max-width: 992px) {
  .cardContent > p:nth-child(2) {
    font-size: 100%;
    font-weight: bold;
    padding-top: 15%;
  }
}
@media only screen and (max-width: 360px) {
  .cardContent > p:nth-child(2) {
    font-size: 95%;
  }
  .cardContent > p:nth-child(3) {
    font-size: 90%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .cardContent > p:nth-child(2) {
    font-size: 160%;
    font-weight: bold;
    padding-top: 15%;
  }
  .cardContent > p:nth-child(3) {
    font-size: 120%;
  }
}

.cardContent > p:nth-child(3) {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1.5;
  padding-top: 8%;
}

.cardContent > p:nth-child(4) {
  text-align: center;
  color: #8c43ff;
  padding-top: 8%;
}

.cardContent > p:nth-child(5) {
  text-align: center;
  padding-top: 8%;
}

.cardContent > p:nth-child(6) {
  text-align: center;
  padding-top: 8%;
  color: #8c43ff;
}

.blogger {
  text-align: center;
  padding-top: 23% !important;
  color: #8c43ff;
}

.cardContent > p:nth-child(7) {
  text-align: center;
  padding-top: 8%;
}

.centeredText {
  text-align: center;
  margin-top: 8%;
}

.counterBox {
  background: #293347;
  border-radius: 15px;
  margin-top: 8%;
  -webkit-box-shadow: 0 10px 6px -6px #d3d3d3;
  -moz-box-shadow: 0 10px 6px -6px #d3d3d3;
  box-shadow: 0 10px 6px -6px #d3d3d3;
  margin-bottom: 100px;
  margin-left: 2%;
  margin-right: 2%;
}

.insideBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 15% 10%;
}

.insideBox > p {
  font-size: 20px;
}

.workClass {
  text-align: center;
  margin-top: 3%;
}

.blogImage {
  width: 100%;
  height: 370px;
  border-radius: 15px;
  margin-top: 8%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 20px;
  cursor: pointer;
}

.blogImage:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sliderSettings {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.roundedImage {
  margin-top: 3%;
  height: 20%;
  width: 20%;
  border-radius: 50%;
}

.centeredTextImg {
  text-align: center;
  font-weight: bold;
}

.upSpace {
  margin-top: 8%;
  padding-bottom: 0px !important;
}

.roundedImageFooter {
  height: 20%;
  width: 20%;
  border-radius: 50%;
}

.socialIcons {
  display: flex;
  width: 40%;
  justify-content: space-around;
  margin-top: 3%;
}

.iconSize {
  font-size: 200%;
}

.textDecorateIcons {
  text-decoration: none;
  color: white;
}

.textDecorateIcons:hover {
  text-decoration: none;
  color: white;
}

.textFooter {
  text-align: center;
  margin-top: 2%;
}
